* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
}

.wrap header {
    display: flex;
    height: 44px;
    line-height: 44px;
    justify-content: center;
    color: red;
}

.main {
    width: 100%;
}

.ul {
    display: flex;
    justify-content: space-between;
}

.ul li:hover {
    color: red;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.banner {
    margin-top: 10px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.list1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 33px;
    line-height: 33px;
    background: #ccc;
}

.dls ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dls li {
    width: 49%;
    height: 100%;
    text-align: left;
    margin-top: 10px;
    padding-left: 1px;
}

.dls ul li img {
    width: 100%;
    height: 200%;
}

.footer ul {
    display: flex;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: #ccc;
    justify-content: space-between;
}

.footer ul li i {
    width: 10px;
    height: 10px;
}